# Visual Studio
.vs/
**/.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Compilación
[Bb]in/
[Oo]bj/
**/[Bb]in/
**/[Oo]bj/
*.pdb
*.cache

# Paquetes restaurables
packages/
**/packages/

# Archivos temporales
*.log
*.tmp
.DS_Store
Thumbs.db

# Archivo original comprimido
*.rar
