<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Caja consume exclusivamente el API Gateway. -->
    <add key="ApiBaseUrl" value="http://localhost:5185/" />
    <add key="ApiTimeoutSeconds" value="20" />
    <add key="ApiConnectTimeoutSeconds" value="5" />
  </appSettings>
</configuration>
