@model INDOTEL.WEB.Models.LoginRequest

@{
    ViewData["Title"] = "Iniciar Sesión - Portal Ciudadano";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow-sm border-0 mt-4">
                <div class="card-header bg-primary text-white text-center py-3">
                    <h4 class="mb-0 fw-bold">INDOTEL</h4>
                    <small>Portal Ciudadano - Sistema Digital</small>
                </div>
                <div class="card-body p-4">
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success alert-dismissible fade show small p-2" role="alert">
                            @TempData["SuccessMessage"]
                            <button type="button" class="btn-close p-2" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    <h5 class="text-center mb-4 text-secondary">Ingresa a tu cuenta</h5>

                    <form asp-action="Login" method="post">
                        @Html.AntiForgeryToken()

                        <div asp-validation-summary="ModelOnly" class="alert alert-danger p-2 small" role="alert"></div>

                        <div class="mb-3">
                            <label asp-for="Correo" class="form-label fw-semibold">Correo Electrónico</label>
                            <input asp-for="Correo" type="email" class="form-custom form-control" placeholder="ejemplo@correo.com" required />
                            <span asp-validation-for="Correo" class="text-danger small"></span>
                        </div>

                        <div class="mb-4">
                            <label asp-for="Password" class="form-label fw-semibold">Contraseña</label>
                            <input asp-for="Password" type="password" class="form-custom form-control" placeholder="••••••••" required />
                            <span asp-validation-for="Password" class="text-danger small"></span>
                        </div>

                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary py-2 fw-bold">Iniciar Sesión</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center py-3 bg-light border-0">
                    <p class="mb-0 small text-muted">¿No tienes una cuenta? <a asp-action="Register" class="text-primary fw-bold text-decoration-none">Regístrate aquí</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}